.Chatbook-container {
  /* for lobby */
  height: calc(100vh - 120px);

  background-color: var(--purple1);
  border-radius: 20px;
  margin: 10px;
}

.Chatbook-container-2 {
  /* for lobby */
  height: 80vh;

  background-color: var(--purple1);
  border-radius: 20px;
  margin: 10px;
}

.Chatbook-container-2 h2 {
  text-align: center;
  margin-top: var(--sper);
}

.Chatbook-container h2 {
  text-align: center;
  margin-top: var(--sper);
}

.Chatbook-userList {
  width: 260px;
}

.Chatbook-chatContainer {
  width: 20vw;
  flex-grow: 1;
  
}
